body {
  margin-inline: auto;
  background-color: antiquewhite;
  padding: 0px 200px;
}
button {
  font-size: 35px;
  margin-bottom: 10px;
  display: flex;
}
h1{
    font-style: italic;
    font-size:300%;
}
p {
  font-size: 40px;
}
